/* CSS Global Variables */
:root {
    --title-font-family: 'PT Sans Narrow', sans-serif;
    --main-font-family: 'Open Sans', sans-serif;
}

/* Universal Styles */
* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Blocks */
.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #FFF;
}

.header {
    font-family: var(--title-font-family);
}

/* Elements */
.header__title {
    font-size: 3em;
    text-align: center;
}

.header__description {
    font-size: 1.4em;
    text-align: center;
}